html, body {
    margin: 0;
    height: 100%;
    width:100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

h1 {
    color: fuchsia;
}

.madebytext {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.madebylink {
    color: white;
    font-weight: 600;
}
